<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wroten.mybatis.hello.UserMapper">
    <select id="get" resultType="com.wroten.mybatis.hello.User">
        SELECT id, name, salary
        FROM t_user
        WHERE id = #{id}
    </select>

    <select id="listAll" resultType="com.wroten.mybatis.hello.User">
        SELECT id, name, salary
        FROM t_user
    </select>

    <update id="update">
        UPDATE t_user
        SET name=#{name},
            salary=#{salary}
        WHERE id = #{id}
    </update>
    <delete id="delete">
        DELETE
        FROM t_user
        WHERE id = #{id}
    </delete>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_user (name, salary)
        values (#{name}, #{salary})
    </insert>
</mapper>